@{ 
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Sync</title>
    @*<script type="text/JavaScript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
    <script src="https://apis.google.com/js/api.js" async defer>
    </script>
</head>
<body>
    <div id="import"></div>

    <script src="~/dist/import.js"></script>


</body>
</html>


