.modal-container {
    height: 70vh;
    min-height: 670px;
    min-width: 500px;
    width: 30vw;
    position: relative;
}

.-auto {
    height: initial;
    min-height: initial;
}

.-wide {
    min-width: 850px;
    width: 40vw;
}

.-xwide {
    min-width: 971px;
    width: 55vw;
}

.-xxwide {
    min-width: 1100px;
    width: 70vw;
}

.modal-container .header {
    color: darkred;
    margin: 40px 0 20px 0;
    padding: 0 40px;
    border-bottom: 1px solid darkgrey;
}

    .modal-container .header .title {
        font-size: 21px;
        font-weight: 400;
        font-family: Georgia;
        font-style: italic;
    }

.modal-container .body {
    padding: 5px 47px;
    padding-bottom: 20px;
}

    .modal-container .body .controls {
        width: 100%;
        text-align: right;
        cursor: pointer;
    }

        .modal-container .body .controls i {
            color: #a80000;
            cursor: pointer;
            margin-left: 4px;
        }

.modal-container .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px 40px;
    text-align: right;
    background-color: lightgrey;
}

    .modal-container .footer .button {
        margin-left: 8px;
    }

.search-term-bubble {
    border: 2px solid darkred;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: darkred;
    box-shadow: 5px 5px 2px grey;
    background-color: #f5f5f5;
}
